<div class="main-content page-m">

  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!--        customer form group-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"><label for="firstname">First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" id="firstname" type="text">
                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="firstName?.hasError('required') || firstName?.hasError('notOnlyWhiteSpace')">First name is required.</div>
                  <div *ngIf="firstName?.hasError('minlength')">First name should be at least 2 characters long.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="lastname">Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" id="lastname" type="text">
                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="lastName?.hasError('required') || lastName?.hasError('notOnlyWhiteSpace')">last name is required.</div>
                  <div *ngIf="lastName?.hasError('minlength')">last name should be at least 2 characters long.</div>
               </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="email">Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" id="email" type="text">
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="email?.hasError('required')">email is required.</div>
                  <div *ngIf="email?.hasError('pattern')">email must be valid email address format.</div>
                  <div *ngIf="email?.hasError('email')">email .</div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <!--        Shipping form group-->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label for="country">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country"
                        id="country"
                        (change)="getStates('shippingAddress')"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                  </option>
                </select>

                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCountry?.hasError('required')">Country is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="street">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" id="street" type="text">
                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressStreet?.hasError('required') || shippingAddressStreet?.hasError('notOnlyWhiteSpace')">Street is required.</div>
                  <div *ngIf="shippingAddressStreet?.hasError('minlength')">Street should be at least 2 characters long.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="city">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" id="city" type="text">
                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCity?.hasError('required') || shippingAddressCity?.hasError('notOnlyWhiteSpace')">City is required.</div>
                  <div *ngIf="shippingAddressCity?.hasError('minlength')">City should be at least 2 characters long.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="state">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" id="state">
                  <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressState?.hasError('required')">State is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="zipCode">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" id="zipCode" type="text">
                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressZipCode?.hasError('required') || shippingAddressZipCode?.hasError('notOnlyWhiteSpace')">Zip Code is required.</div>
                  <div *ngIf="shippingAddressZipCode?.hasError('minlength')">Zip Code should be at least 5 Digit.</div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <!--        TODO add checkbox to copy shipping address to billing address-->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Billing Address same as Shipping Address
          </label>
        </div>


        <!--        billing Address form group-->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label for="bcountry">Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" id="bcountry"
                        (change)="getStates('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                  </option>
                </select>
                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCountry?.hasError('required')">Country is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="bstreet">Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" id="bstreet" type="text">
                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressStreet?.hasError('required') || billingAddressStreet?.hasError('notOnlyWhiteSpace')">Street is required.</div>
                  <div *ngIf="billingAddressStreet?.hasError('minlength')">Street should be at least 2 characters long.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="bcity">City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" id="bcity" type="text">
                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCity?.hasError('required') || billingAddressCity?.hasError('notOnlyWhiteSpace')">City is required.</div>
                  <div *ngIf="billingAddressCity?.hasError('minlength')">City should be at least 2 characters long.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="bstate">State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" id="bstate">
                  <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>
                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressState?.hasError('required')">State is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="bzipCode">Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" id="bzipCode" type="text">
                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressZipCode?.hasError('required') || billingAddressZipCode?.hasError('notOnlyWhiteSpace')">Zip Code is required.</div>
                  <div *ngIf="billingAddressZipCode?.hasError('minlength')">Zip Code should be at least 5 Digit.</div>
                </div>
              </div>
            </div>
          </div>

        </div>




        <!--        credit Card Address form group-->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2"><label for="cardType">card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType" id="cardType">
                  <option>Visa</option>
                  <option>CMI</option>
                  <option>Mastercard</option>
                </select>

                <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="cardType?.hasError('required') || cardType?.hasError('notOnlyWhiteSpace')">Card Type is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="nameOnCard">name On Card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" id="nameOnCard" type="text">
                <div *ngIf="nameOnCard?.invalid && (nameOnCard?.dirty || nameOnCard?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="nameOnCard?.hasError('required') || nameOnCard?.hasError('notOnlyWhiteSpace')">name On Card is required.</div>
                  <div *ngIf="nameOnCard?.hasError('minlength')">name On Card should be at least 2 character.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="cardNumber">Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" id="cardNumber" type="text">
                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="cardNumber?.hasError('required') || cardNumber?.hasError('notOnlyWhiteSpace')">Card Number is required.</div>
                  <div *ngIf="cardNumber?.hasError('pattern')">Card Number should be 16 Digit.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="securityCode">Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" id="securityCode" type="text">
                <div *ngIf="securityCode?.invalid && (securityCode?.dirty || securityCode?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="securityCode?.hasError('required') || securityCode?.hasError('notOnlyWhiteSpace')">Security Code is required.</div>
                  <div *ngIf="securityCode?.hasError('pattern')">Security Code should be  3 Digit.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="expirationYear">Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" id="expirationYear" (change)="handleMonthAndYears()">
                  <option *ngFor="let year of creditCartYears" >{{year}}</option>
                </select>
                <div *ngIf="expirationYear?.invalid && (expirationYear?.dirty || expirationYear?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="expirationYear?.hasError('required') ||
                  expirationYear?.hasError('notOnlyWhiteSpace')">expiration Year Code is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label for="expirationMonth">Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth" id="expirationMonth">
                  <option *ngFor="let month of creditCartMonths">{{month}}</option>
                </select>
                <div *ngIf="expirationMonth?.invalid && (expirationMonth?.dirty || expirationMonth?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="expirationMonth?.hasError('required') ||
                   expirationMonth?.hasError('notOnlyWhiteSpace')">expiration Month is required.</div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <!--        Order details-->

        <div class="form-area">
          <h3>Review your order</h3>
          <p> Total Quantity : {{totalQuantity}}</p>
          <p>Shipping Free</p>
          <p>Total Price: {{totalPrice}}</p>
        </div>


        <!--        submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>

      </form>

    </div>
  </div>

</div>
